<nav></nav>

<div class="container-fluid container-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 sidebar-left pull-left hide">
        <ul class="list-unstyled list-nav-left">
          <!-- <li class="active">
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-avatar"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" height="20"/></div><div class="pull-left pull-text">Pretty Green</div></h4></a>
            </div>
          </li> -->
          <li class="active">
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">local_mall</i></div><div class="pull-left pull-text">All</div></h4></a>
            </div>
          </li>
          <!-- <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">thumb_up</i></div><div class="pull-left pull-text">Likes</div></h4></a>
            </div>
          </li> -->
          <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">card_giftcard</i></div><div class="pull-left pull-text">Saved</div></h4></a>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">store</i></div><div class="pull-left pull-text">Following</div></h4></a>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">place</i></div><div class="pull-left pull-text">Nearby</div></h4></a>
            </div>
          </li>
          <!-- <li> THIS ONE WILL BE IN SETTINGS
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">bookmark</i></div><div class="pull-left pull-text">Subscriptions</div></h4></a>
            </div>
          </li> -->
          <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">contacts</i></div><div class="pull-left pull-text">Invite Friends</div></h4></a>
            </div>
          </li>
        </ul>
        <!-- <ul class="list-unstyled list-nav-left">
          <li>
            <div class="clearfix">
              <h4 class="small"><i class="fa fa-plus-square"></i> <a href="" class="color-accent-200">Own a store? Have a page on Facebook? <u>Find out more</u> | <u>Join us for FREE!</u></a></h4>
            </div>
          </li>
        </ul> -->
      </div>
      <!-- <div class="col-xs-10 page-content">
        <div class="md-card bg-primary">
          <div class="md-card-content mt16">
            Welcome on Blink4Sale! We are analizing data from your Facebook profile. Please wait for the results. Give us a sec, and in the mean time check our Explore secion below. Cheers.
          </div>
        </div>
      </div> -->
      <div class="col-lg-push-2 col-lg-5 col-xs-12 page-content2">
        <!-- <div class="md-card">
          <div class="md-card-content m0 p0" style="margin:0;padding:0;">
            <input type="text" placeholder="Search your feed..." class="form-control search"/>
          </div>
        </div> -->

        <div class="md-card bg-primary">
          <div class="md-card-content mt16">
            Welcome on Blink4Sale! We are analizing data from your Facebook profile. Please wait for the results. Give us a sec, and in the mean time check our Explore secion below. Cheers.
          </div>
        </div>


        <div class="sectionHeader">
          <div class="uiHeader">
            <div class="clearfix uiHeaderTop">
              <div><h3 class="uiHeaderTitle">Explore</h3></div>
            </div>
          </div>
          <div class="_5vg"></div>
        </div>

        <card-discount post-id="1143283242364827"></card-discount>

        <div class="md-card hide">
          <div class="md-card-header">
            <img align="left" ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" class="md-card-image-avatar-xs" alt=""/>
            <ul class="list-unstyled list-inline mb0">
              <li><a href="">Pretty Green</a></li>
            </ul>
            <ul class="list-unstyled mb0 clearfix">
              <li><a class="small color-inactive" href="">12K people like this</a></li>
            </ul>
            <button class="btn btn-default btn-inactive pull-right abstr"><i class="fa fa-ellipsis-v"></i></button>
          </div>
          <div class="md-card-content">
            <div class="clearfix">
              <img align="left" ng-src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11235326_10153357132909216_9058146317956676035_n.jpg?_nc_eui=AWgNj7_e8YYuD5gUQpv-0djaSlIPcyFwJ01aNQ&oh=595e71954a3278e268ad12c628358b49&oe=5604F38A" class="md-card-image-avatar" alt=""/>
              <ul class="list-unstyled mb0">
                <li>Discount: 30% | Valid to: 30/06/2015</li>
                <li>Location: <a href="">2-3 GPS, Great Pulteney Street, London W1F 9LY UK</a></li>
                <li class="small"><a href=""><i class="fa fa-angle-right"></i> Read terms</a></li>
              </ul>
            </div>
            Mid Season Sale | <a href="">www.maharishistore.com</a>
            <p class="small mb0 hide"><a href=""><i class="fa fa-angle-down"></i> Read terms</a><!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum. --></p>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <button class="btn btn-default">Share</button>
            <button class="btn btn-default btn-inactive"><i class="fa fa-check"></i> Saved</button>
            <!-- <button class="btn btn-default pull-right"><i class="fa fa-ellipsis-v"></i></button> -->
          </div>
        </div>

      </div>
      <div class="col-lg-push-2 col-lg-3 sidebar-right hidden-xs">
        <!-- <div class="md-card md-layout-sidebar" layout="sidebar">
          <div class="md-card-header">
            Going for Shopping?
          </div>
          <div class="md-card-content">
            <p class="small">
            Click this button below, and <u>we will setup discount just for you</u>! You will start receiving discounts & offers right to your mobile.</p>
            <p><a class="btn btn-defaut btn-accent" href ng-click="getDiscount()">Subscribe for discounts</a></p>
            <p><button class="btn btn-defaut btn-active" href ng-click="getDiscount()"><i class="fa fa-check"></i> Already requested</button></p>
          </div>
        </div> -->



        <div class="md-card md-layout-sidebar" layout="sidebar">
          <div class="md-card-header">
            Popular Brands
          </div>
          <div class="md-card-content">
            <ul class="list-unstyled mb0 mt16">
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
                <a href="">Pretty Green</a>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
                <a href="">Pretty Green</a>
              </li>
            </ul>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <a class="btn btn-default btn-sm" href ui-sref="explore">Explore more...</a>
          </div>
        </div>

        <div class="md-card md-layout-sidebar" layout="sidebar">
          <div class="md-card-header">
            Recommended
          </div>
          <div class="md-card-avatars">
            <ul class="list-unstyled list-inline list-friends-inline mb0 mt16">
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
            </ul>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <a class="btn btn-default btn-sm" href ui-sref="invite">Invite Friends...</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirmation</h3>
  </div>
  <div class="modal-body">
    Hey! Your request about discount has been sent. We will notify you just after we will receive discount just for you!
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>
