<div ng-include="'manage/manage.nav.tpl.html'"></div>

<form enctype="multipart/form-data">
  <div class="row mb20">
    <div class="col-lg-12">
      <div class="clearfix bg-white-box mb20">
        <div class="clearfix bg-white-caption">
          <p class="strong mb0">Basic</p>
        </div>
        <div class="clearfix bg-white-content mb20 pb0">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Full name" ng-model="page.name">
              </div>
              <div class="form-group">
                <label>Website</label>
                <input type="text" class="form-control" placeholder="Enter url to your website" ng-model="page.link">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="clearfix form-actions ac">
        <a href ng-click="updatePageSettings()" btn-loading="isUpdating" loading-text="Please wait..." reset-text="Save Changes" class="btn btn-lg btn-accent">Save Changes</a>
        <a target="_top" href ng-click="goBack(page, 'settings')" class="btn btn-lg btn-active">Cancel</a>
      </div>
    </div>
  </div>
</form>
