<div class="container-fluid mt50">
  <div class="container container-fixed-width">
    <div class="row">
      <div class="col-lg-12 col-xs-12 ac mt20 pb20">
        <div class="clearfix bg-white pb20" style="position:relative;max-width:500px;margin-left:auto;margin-right:auto;box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);">
          <div style="" class="clearfix fb-hover" ng-click="login()"></div>
          <div class="clearfix">
            <img src="/assets/img/lp_headers/nike.png-output.jpg" width="100%"/>
          </div>
          <!-- <div class="fb-page" data-href="https://www.facebook.com/{{username}}" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" data-width="500"></div> -->
          <div class="clearfix mt20 p20">
            <h4 class="mb30 color-accent-200" ng-if="userID">Download ShopNow and get 20% off TODAY</h4>
            <h4 class="mb30 color-accent-200" ng-if="!userID">Get 20% off TODAY, simply by downloading ShopNow</h4>
            <!-- <a href ng-click="login()" class="btn btn-lg btn-primary" ng-if="!userID">Continue with Facebook</a> -->
            <!-- <p class="mt10" ng-if="!userID">or</p> -->
            <p><img src="https://ia.net/content/3-writer/1-ios/button.svg"/>&nbsp;&nbsp;&nbsp;<img src="https://ia.net/content/3-writer/3-android/button.svg"/></p>
          </div>
        </div>
        <div class="clearfix" style="max-width:500px;margin-left:auto;margin-right:auto;">
          <div class="col-xs-12 p0">
            <p class="mt10 small ac">Is this your business? <a href="/business?ref=claim">Claim it now.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<global-footer class="footer" theme="clean"></global-footer>
