<div section-landing-business class="container-fluid container-section"></div>

<div class="container-fluid p0 container-section">
  <div class="container container-padded">
    <div class="row">
      <div class="col-xs-12 ac mb20">
        <h3>Features</h3>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-lg-12 ac">
        <h3 class="strong">ShopNow makes it easy for customers to discover and receive your offers in real-time. Increase sales and remove barriers to purchase by delivering your offers right to your customers smartphones.</h3>
        <hr class="nice"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4 ">
        <ul class="list-unstyled-">
          <li>Increase your Facebook posts visibility.</li>
          <li>Reply to customer requests.</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <ul class="list-unstyled-">
          <li>Personalise offers and make your customers feel valued.</li>
          <li>Create campaigns with offers.</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <ul class="list-unstyled-">
          <li>Target by gender, age or specific moments (including birthdays, or at customer sign-up).</li>
          <li>Optimize campaigns in real-time.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p0 container-section">
  <div class="container container-padded">
    <div class="row mb20">
      <div class="col-xs-12 ac mb20">
        <h3>Pricing</h3>
        <p>Save up to 20% on annual plans. Contact with us for more information.</p>
      </div>
    </div>
    <div class="row">
      <div class="pricing">
        <div class="tier project">
          <h3>Free</h3>
          <h2 class="text">FREE!</h2>
          <h4>Quick Start</h4>
          <ul>
            <li data-toggle="tooltip">
              <strong>1 Offer</strong><span>to your Subscribers</span>
            </li>
            <li data-toggle="tooltip">
              <strong>Email</strong><span>Support</span>
            </li>
          </ul>
          <a href class="btn btn-lg btn-primary" ng-click="login()">Get started</a>
        </div>
        <div class="tier growth">
          <h3>Basic</h3>
          <h2><sup>£</sup>19</h2>
          <h4>Per month</h4>
          <ul>
            <li data-toggle="tooltip">
              <strong>Unlimited Offers</strong><span>to your Subscribers</span>
            </li>
            <li data-toggle="tooltip">
              <strong>Basic</strong><span>Stats &amp; Targeting</span>
            </li>
            <li data-toggle="tooltip">
              <strong>Email</strong><span>Support</span>
            </li>
          </ul>
          <a href class="btn btn-lg btn-success" ng-click="login()">Get started</a>
        </div>
        <div class="tier enterprise">
          <h3>Premium</h3>
          <h2 class="text">Contact Us</h2>
          <h4>For High Volume Usage</h4>
          <ul>
            <li data-toggle="tooltip">
              <strong>Unlimited Offers to All app Users</strong>
            </li>
            <li><strong>Exporting</strong><span>Features</span></li>
            <li><strong>Advanced</strong><span>Targeting</span></li>
            <li><strong>Email / Phone</strong><span>support</span></li>
            <li><strong>Tailored</strong><span>pricing</span></li>
          </ul>
          <a class="btn btn-lg btn-primary" href="mailto:info@shopnowapp.com">
            Contact us
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-lg-push-2">
      <p class="small mb0"><small class="color-dark-accent">Additional VAT charges are added to purchases made by customers from the European Union, except for customers from the European Union, but outside of United Kingdom, who provide a valid VAT ID. Businesses from outside the European Union are not charged with VAT.</small></p>
    </div>
  </div>
</div>

<div class="container-fluid p0 container-section">
  <div class="container container-padded">
    <div class="row">
      <div class="col-xs-12 mb20 ac">
        <h1 class="fw600">Together we can make your customers happier</h1>
        <p>Ready to sign up? Try ShopNow for free! No credit card required.</p>
        <a href ng-click="login()" class="button button--cta js-bounce">Continue with Facebook</a>
        <p class="small mt10">Facebook profile is required</p>
      </div>
    </div>
  </div>
</div>

<global-footer class="footer"></global-footer>
