<div id="anchor_featured" class="container container-padded container-featured pt20">
  <div class="row">
    
    <div class="col-xs-12 ac">
      <h1 ng-if="title.length">{{title}}</h1>
      <p class="color-dark-accent" ng-if="subtitle.length">{{subtitle}}</p>
    </div>
    
    <div class="col-xs-12 mt50">
      <div class="row">
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/nike">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/15087023444/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Nike</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/Zara">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/33331950906/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Zara</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/hmunitedkingdom">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/526372994152420/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">H&M</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/adidasOriginalsUK">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/182162001806727/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Adidas</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/victoriassecret">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/79775744089/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Victoria's Secret</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/CalvinKlein">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/36143771015/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Calvin Klein</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/RalphLaurenUK">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/135861299921981/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Ralph Lauren</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/michaelkors">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/200736335550/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Michael Kors</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/mango.com">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/155318785394/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Mango</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/abercrombie">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/25601085377/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Abercrombie</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/Tiffany">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/48713703067/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Tiffany & Co</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/Topshop">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/59672929326/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Topshop</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/karenmillen">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/48000160035/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Karen Millen</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/converse">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/23402039579/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Converse</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/riverisland">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/89127823540/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">River Island</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/TedBaker">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/11895655268/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Ted Baker</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/veromoda">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/239457968226/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Vero Moda</p></div>
          </a>
        </div>
        <div class="col-xs-4 col-lg-2 ac">
          <a target="_top" href="/add/VivienneWestwoodOfficial">
            <img class="img-responsive img-circle" src="https://graph.facebook.com/203975576014/picture?type=square&width=200&height=200" alt="">
            <div class="brand__name"><p class="m0 ellipses">Vivienne Westwood</p></div>
          </a>
        </div>
      </div>        
    </div>
    <div class="col-xs-12 ac mt20">
      <h4 class="mb0"><a href="/ios" target="_top">and more...</a></h4>
    </div>
  </div>
</div>
